---
layout: default
---

{% assign sortedsais = site.essais | sort: "title" %}

{% assign sortedtech = site.tech | sort: "title" %}

{% assign sortedbooks = site.books | sort: "title" %}

<br>

<article>

        <div class="search column is-4">
            <input type="text" class="input is-rounded is-medium" id="search-input" placeholder="Search..">            
            <ul style="list-style: none" id="results-container"></ul>
        </div>
    


    <ul>
        {% for p in sortedsais %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Readings</h2>

    <ul>
        {% for p in sortedbooks %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Tech</h2>

    <ul>
        {% for p in sortedtech %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>


</article>


    {% include search.html %}


