---
layout: default
---

<p>actionable ideas, a constant work in progress</p>

{% assign sortedCategories = site.categories | sort %}
{% assign sorted_tags = site.tags | sort %}

<h1 class="tag" id="explore">explore</h1>

<ul>
    {% for tag in sorted_tags %}
        {% assign t = tag | first %}
        <li style="padding-bottom: 0.4rem;">
            <a href="{{ '#' | append:  t | downcase   }}">{{ t | downcase }}</a>
        </li>
    {% endfor %}
</ul>


<div class="posts">





    {% for cat in sortedCategories %}

        <h1 id="{{ cat | downcase }}">{{ cat }}</h1>
        {% for post in site.posts[cat] %}
            <article class="post">
                <h2>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                    </a>
                </h2>
            </article>
        {% endfor %}
        
    {% endfor %}




</div>

