---
layout: default
---


<article>

        <div class="search column is-4">
            <input type="text" class="input is-rounded is-medium" id="search-input" placeholder="Search..">            
            <ul style="list-style: none" id="results-container"></ul>
        </div>
    


    <ul>
        {% for p in site.essais %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Readings</h2>

    <ul>
        {% for p in site.books %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Tech</h2>

    <ul>
        {% for p in site.tech %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>



    <h2>Mini Projects</h2>

    <ul>
        {% for p in site.projects  %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>


    <h2>Algorithms</h2>

    <ul>
        {% for p in site.algo  %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endfor %}
    </ul>



</article>


    {% include search.html %}


