---

---


@import "variables";


html[data-theme='dark'] {
  background: $dark-bg;
  color: $light-text;
  body{
    color: $light-text;
  }
  .top{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .navbar {
    background: $dark-bg;
    color: $light-text;
  }
  hr{
    height: 0.2px;
    font-weight: 100;
  }
  
  .site-description {
    color: $light-text;
  }

  footer{
    background-color: $dark-bg !important;
  }


  article{
    a{
      color: $turquoise; 
    }
    a:visited{
      color: $lightBlue;
    }
  }

  .site-name {
    color: $light-text;
  }


}


html {
  font-size: large;
  font: 1rem $helveticaNeue;
  background: $bg;
  color: $gray;

  body{
    line-height: 1.6;
    transition: background 0.3s ease-in, color 0.3s ease-in;
  }
  .top{
    height: 12px;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar{
    margin-top: 1rem;
  }
  
  .section{
    padding:
     1rem 1.5rem 1rem;
  }

  article{
    margin: 0 auto;
    max-width: 42rem;
    a{
      color: $darkBlue; 
    }
    a:visited{
      color: $lightBlue;
    }
  }
  
  .img-full{
    display: block; 
    max-width: 100%;
    height: auto;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $helveticaNeue;
    color: $darkerGray;
  }
  
  h1 {
    font-family: $georgia;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: $accent
  
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: bold;
    color:#1b78cf
  }
  
  p, li {
    margin-bottom: 1rem;
  }
  
  strong{
    font-weight: bold;
  }

  
  ul {
    li {
      margin-bottom: 1rem;
    }
  }
  
  li.catlink{
      margin: 2rem;
      margin-bottom: 2.4rem;
      list-style: none;
      padding-bottom: 0.4rem;
      :hover{
        color: $accent;
      }
  }
  
  
  
  blockquote {
    margin: 1em 1em;
    border-left: 2px solid $primary;
    padding: 0.1em 1em;
  }
  
  
  .site-avatar {
    float: left;
    width: 96px;
    height: 96px;
    margin-right: 1rem;
    img {
      border-radius: 5px;
    }
  }
  
  
  .site-name {
    font-family: $georgia;
    color: $darkGray;
    cursor: pointer;
    font-weight: 500;
    font-size: 2rem;
  }
  
  .site-description {
    color: $gray;
    font-size: 1rem;
  }
  
  footer {
    text-align: center;
    padding: 3rem 1.5rem 3rem !important; 
    background: $bg !important;
  }


  #results-container{
    margin-top: 1rem;
    padding: 1rem;
    li{
      margin-bottom: 2rem;
      a{
        color: $accent;
      }
    }
  }

  

}


