---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: large;
}


body {
  height:100vh;
  background: #fffefc;
  font: 1.2rem $helveticaNeue;
  color: $gray;
  border-top: 6px solid $primary;
  line-height: 1.6;
}

.navbar{
  background-color: #fffcfc;
  margin-top: 1rem;
}


.section{
  padding:
   1rem 1.5rem 1rem;
}

.img-full{
  display: block; 
  max-width: 100%;
  height: auto;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color:#48c774

}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: bold;
  color:#1b78cf
}

p {
  margin-bottom: 0.5rem;
}

strong{
  font-weight: bold;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover {
    color: $blue;
  }
}

ul {
  list-style-type: disc;
  li {
    margin-bottom: 1rem;
  }
}

li.catlink{
    margin-bottom: 1rem;
    list-style: none;
    padding-bottom: 0.4rem;
    :hover{
      color:#48c774
    }
}



blockquote {
  margin: 1em 1em;
  border-left: 2px solid $primary;
  padding: 0.1em 1em;
  color: $gray;
  font-size: 1rem;
}


.site-avatar {
  float: left;
  width: 96px;
  height: 96px;
  margin-right: 15px;
  img {
    border-radius: 5px;
  }
}


.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 1rem;

}


footer {
  text-align: center;
  background-color: #fffcfc !important; 
  padding: 3rem 1.5rem 3rem !important; 
}

@import "highlights";


