
<script src="/assets/js/datetime.js"></script>



<div class="graph">
    <ul class="weeks">
    </ul>
    <ul class="days">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
    <ul class="squares">
      <!-- added via javascript -->
    </ul>
  </div>

  <style>

:root {
  --square-size: 24px;
  --square-gap: 8px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.weeks { grid-area: weeks; }
.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  margin: 2rem;
  display: inline-grid;
  
  grid-template-areas: "empty months"
                        "empty weeks"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem;
}

.months {
  list-style-type: none;
  display: grid;
}

.weeks{
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--square-gap);
  grid-template-columns: repeat(1, var(--square-size));
  grid-auto-columns: var(--square-size);
  margin-left: 0.2rem;
}

.days,
.squares {
  list-style-type: none;
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


/* Other styling */

body {
  font-size: 12px;
}

li{
    margin: 0;
    border-radius: 5px;
}

/* .days li:nth-child(odd) {
  visibility: hidden;
} */

.squares li {
    background-color: #e9e6dc;
  }


.squares li[data-day="-1"] {
  background-color: inherit;
}

.squares li[data-day="1"] {
  background-color: #ffdd57;
}
  </style>

  <script>

    function toggle_day(event){
        console.log(event.currentTarget.dataset)
    }

    function add_week_numbers(){
      const weeks = document.querySelector('.weeks');
        for (var i = 0; i < 53; i++) {
          weeks.insertAdjacentHTML('beforeend', `<li>${i}</li>`);
        }
    }

    function populate_graph(year){

        const squares = document.querySelector('.squares');
        for (const [key, val] of year.entries()) {
            squares.insertAdjacentHTML('beforeend', `<li data-day="${val}"></li>`);
        }
    }


    const first_day = get_the_first_day_of_this_year()
    const first_day_index = days.indexOf(first_day)
    let pre = Array(first_day_index).fill(-1) 
    populate_graph(pre)

    add_week_numbers()

    let year = Array(365).fill(0)
    for (var i = 0; i < 365; i++) {
        year[i] = Math.floor(Math.random()*2); 
    }
    populate_graph(year)


  </script>