<script>

    let avatars = [

    "https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Arnold_Boecklin-fiedelnder_Tod.jpg/194px-Arnold_Boecklin-fiedelnder_Tod.jpg",
    "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/The_Great_Wave_off_Kanagawa.jpg/120px-The_Great_Wave_off_Kanagawa.jpg"
    ]

    function get_random_avatar(){
        random_index = Math.floor(Math.random() * avatars.length)
        random_url = avatars[random_index]
        document.getElementById("avatar").src = random_url
    }

    // get_random_avatar()
        

</script>