
<div id="breadcrumbs" class="metatext">
    {% assign crumbs = page.path | remove:'/index.html' | split: '/' %}
    <a href="/">Home</a>
        / <a href="/{{page.collection | downcase}}">{{page.collection | replace:'-',' ' | capitalize }}</a>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        / <a href="{{page.url}}">{{page.title}}</a>

      {% else %}
        / <a href="/{{crumb}}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      {% endif %}
    {% endfor %}
</div>
