<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/datetime.js"></script>
<script src="/assets/js/calendar.js"></script>

<p id="current-date"></p>
<br>

<div class="columns">

  <div class="year-grid column is-6"></div>
  <div class="column is-6">
    {% include earth.html %}
  </div>
</div>

<style>
  :root {
    --point-size: 0.32rem;
    --point-gap: 0.32rem;
    --row-gap: 0.48rem;
  }

  .year-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .month-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .month-title {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .days {
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--point-gap);
    row-gap: var(--row-gap);
    grid-auto-rows: var(--point-size);
    grid-template-columns: repeat(7, var(--point-size));
    width: max-content;
  }

  .days li {
    margin: 0;
    border-radius: 50%;
  }

  .weekday {
    background-color: #fff;
  }

  .filler {
    background-color: inherit;
  }

  .past {
    opacity: 0.5;
  }

  .weekend {
    background-color: #ffcc00e2;
  }

  .now {
    background-color: rgb(255, 55, 0);
  }

  html[data-theme='light'] {
    .weekday {
      background-color: #928f8f;
    }

    .weekend {
      background-color: #2163d4e2;
    }

    .now {
      background-color: rgb(255, 55, 0);
    }
  }
</style>

<script>

    const today = moment();
    const currentDayOfYear = today.dayOfYear();
    document.querySelector("#current-date").innerHTML = today.format('dddd, MMMM DD');
    (function() {
      renderCalendar(document.querySelector(".year-grid"), currentDayOfYear);
    })();
</script>