<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/datetime.js"></script>

<div class="columns">

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p id="current-time"></p>
    {% include clock.html type="hour" id="hourClock" %}

  </div>

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p id="current-date"></p>
    {% include clock.html type="month" id="monthClock" %}
  </div>

</div>


  <div class="columns">

  <div class="column is-4 is-mobile-6 has-text-centered">
    {% include clock.html type="year" id="yearClock" %}
  </div>


  <div class="column is-4 is-mobile-6 has-text-centered">
    {% include clock.html type="decimal" id="decimalClock" %}
  </div>

</div>



<script>
document.querySelector("#current-year").innerHTML = moment().year();
show_date_and_time();

</script>