<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/datetime.js"></script>

<div class="columns">

  <div class="column is-4 has-text-centered">
    <p id="clock"></p>
    {% include clock.html type="hour" id="hourClock" %}

  </div>

  <div class="column is-4 has-text-centered">
    <p id="date"></p>

    {% include clock.html type="year" id="yearClock" %}
    <p id="weekNumber"></p>
    <p id="year-ratio"></p>
    <p id="year-percent"></p>
  </div>

  <div class="column is-4 has-text-centered">
    <p id="current-year"></p>

    {% include clock.html type="century" id="centuryClock" %}
  </div>

</div>


<script>

render_year_progress();

</script>