<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/datetime.js"></script>

<div class="columns">

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p id="current-time"></p>
    {% include clock.html type="hour" id="hourClock" %}

  </div>

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p id="current-date"></p>
    {% include clock.html type="month" id="monthClock" %}
  </div>

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p id="current-year"></p>
    {% include clock.html type="year" id="yearClock" %}
  </div>


</div>



<div class="columns">

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p>Decades</p>
    {% include clock.html type="decade" id="decadeClock" %}
  </div>

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p>Centuries</p>
    {% include clock.html type="century" id="centuryClock" %}
  </div>

  <div class="column is-4 is-mobile-6 has-text-centered">
    <p>Millennia</p>
    {% include clock.html type="millennia" id="millenniaClock" %}
  </div>

</div>


<div class="columns">

  <div class="column is-4 is-mobile-6 has-text-centered">
    {% include clock.html type="decimal" id="decimalClock" %}
  </div>

  <div class="column is-4 is-mobile-6 has-text-centered">
    {% include clock.html type="sixty" id="sixtyClock" %}
  </div>
</div>


<script>
  show_date_and_time();

</script>