<p>
    <a href="javascript:void(0);" 
    id="copyToClipBoard" 
    onclick="copyToClipBoard();" 
    style="font-size: smaller; margin-top: 2rem;"
     title="Copy link">📋 Copy link to share</a>
</p>
<script>
    const copyButton = document.getElementById("copyToClipBoard");
    // only show if no url box 
    if (window.matchMedia('(display-mode: standalone)').matches) {
        // ok 
    }
    else {
        copyButton.style.display = "none";
    }
    function copyToClipBoard() {
        navigator.clipboard.writeText(window.location.href);
        copyButton.innerHTML = "✅ Link copied!";
        setTimeout(function () {
            copyButton.innerHTML = '📋 Copy link to share';
        }, 500);
    }
</script>