<p>
    <a href="javascript:void(0);" id="copyToClipBoard" onclick="copyToClipBoard();" title="Copy link">📋</a>
</p>
<script>
    const copyButton = document.getElementById("copyToClipBoard");
    // only show if no url box 
    if (window.matchMedia('(display-mode: standalone)').matches) {
        // ok 
    }
    else {
        copyButton.style.display = "none";
    }
    function copyToClipBoard() {
        navigator.clipboard.writeText(window.location.href);
        copyButton.innerHTML = "✅ Link copied!";
        setTimeout(function () {
            copyButton.innerHTML = '📋';
        }, 500);
    }
</script>