<form>
    <label for="current">Current: </label>
    <input type="number" id="current" value="29" />
    <br>
    <label for="total">Total: </label>
    <input type="number" id="total" value="80" />
    <br>
    <label for="current">Columns: </label>
    <input type="number" id="columns" value="10" />
    <br>
</form>

<br>
<div class="grid"></div>

<style>
    form {
        font-family: monospace;
        font-size: 1.2rem;
    }

    :root {
        --point-size: 1rem;
        --point-gap: 0.7rem;
        --columns: 10;
    }

    .container {
        margin: 0 auto;
    }

    .grid {
        list-style-type: none;
        display: grid;
        grid-gap: var(--point-gap);
        grid-auto-flow: row;
        grid-auto-rows: var(--point-size);
        grid-template-columns: repeat(var(--columns), var(--point-size));
        margin-bottom: 1rem;
    }

    .grid li {
        background-color: #fff;
        margin: 0;
        border-radius: 50%;
    }

    .grid li.past {
        background-color: #bcbcbc;
    }

    .grid li.now {
        border: 2px solid rgb(255, 55, 0);
    }
</style>

<script>
    const currentInput = document.getElementById('current')
    currentInput.addEventListener('input', renderGrid);

    const totalInput = document.getElementById('total')
    totalInput.addEventListener('input', renderGrid);

    const columnsInput = document.getElementById('columns')
    columnsInput.addEventListener('input', () => {
        document.documentElement.style.setProperty('--columns', columnsInput.value);
        renderGrid();
    });
    
    function renderGrid() {
        const current = currentInput.value;
        total = totalInput.value;
        if (total >100000) {
            alert('too much');
            return;
        }
        const grid = document.querySelector('.grid');
        // clear the grid
        grid.innerHTML = '';

        for (let i = 1; i <= total; i++) {
            let li = document.createElement('li');
            if (i < current) {
                li.classList.add('past');
            } else if (i == current) {
                li.classList.add('now');
            }
            grid.appendChild(li);
        }

    }

    renderGrid();

</script>