<head>
  <title>
    {% if page.title %}{{ page.title | downcase }}{% else %}{{ site.name }} | {{ site.description }}{% endif %}
  </title>

  {% include meta.html %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/fav/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/fav/favicon.ico">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bulma.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/code.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/solar.css">
  
</head>