<head>
  <title>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ site.name }}
    {% endif %}
  </title>

  {% include meta.html %}
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/fav/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/fav/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/bulma.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/code.css">
</head>