

<br>
<div class="idea-container">
  <p id="idea" class="idea" tabindex="0" onclick="setNextIdea('{{ include.filename }}');"></p>
</div>

<style>
  .idea-container {
    font-family: "Atkinson Hyperlegible Mono", "Inconsolata", monospace;
    min-height: 8rem;
    white-space: pre-line;

  }

</style>


<script src="/assets/js/idea.js"></script>

<script>
  const filename = "{{ include.filename }}";
  
  const setNextIdea = async (filename) => {
    document.getElementById("idea").innerHTML = await getNextIdea(filename);
  }

  // change idea every 5 seconds
  setInterval(() => {
    setNextIdea(filename);
  }, 3000);

  document.addEventListener('DOMContentLoaded', async () => {
    let idea = document.getElementById("idea");
    
    idea.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
        setNextIdea(filename);
      }
    });

    setNextIdea(filename);
  });

</script>
