

<div class="idea-container">
  <p id="idea" class="idea" tabindex="0" onclick="setNextIdea('{{ include.filename }}');"></p>
</div>

<style>
  .idea-container {
    margin-top: 1rem;
    font-family: "Atkinson Hyperlegible Mono", "Inconsolata", monospace;
    min-height: 9rem;
    white-space: pre-line;
  }

</style>


<script src="/assets/js/idea.js"></script>

<script>
  const filename = "{{ include.filename }}";
  let ideaInterval; // Store interval ID for control
  
  const setNextIdea = async (filename) => {
    document.getElementById("idea").innerHTML = await getNextIdea(filename);
  }

  const startInterval = () => {
    ideaInterval = setInterval(() => {
      setNextIdea(filename);
    }, 5000);
  }

  const stopInterval = () => {
    if (ideaInterval) {
      clearInterval(ideaInterval);
      ideaInterval = null;
    }
  }

  document.addEventListener('DOMContentLoaded', async () => {
    let idea = document.getElementById("idea");
    
    idea.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
        setNextIdea(filename);
      }
    });

    idea.addEventListener('focus', stopInterval);
    idea.addEventListener('blur', startInterval);

    setNextIdea(filename);
    startInterval();
  });

</script>
