

<br>
<p id="random_idea" class="idea" tabindex="0" onclick="setNextIdea();"></p>

<style>
  .idea {
    white-space: pre-line;
    font-family: "Atkinson Hyperlegible Mono", "Inconsolata", monospace;
  }
</style>


<script src="/assets/js/idea.js"></script>

<script>
  const filename = "{{ include.filename }}";
  
  const setNextIdea = async (filename) => {
    document.getElementById("random_idea").innerHTML = await getNextIdea(filename);
  }

  document.addEventListener('DOMContentLoaded', async () => {
    let idea = document.getElementById("random_idea");
    
    idea.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
        setNextIdea(filename);
      }
    });

    setNextIdea(filename);
  });

</script>
