<div class="grid"></div>

<style>
    :root {
        --point-size: 0.8rem;
        --point-gap: 0.4rem;
        --columns: 10;
    }

    .container {
        margin: 0 auto;
    }

    .grid {
        list-style-type: none;
        display: grid;
        grid-gap: var(--point-gap);
        grid-auto-flow: row;
        grid-auto-rows: var(--point-size);
        grid-template-columns: repeat(var(--columns), var(--point-size));
        margin-bottom: 1rem;
    }

    .grid li {
        background-color: #fff;
        margin: 0;
        border-radius: 50%;
    }

    .grid li.past {
        background-color: #bcbcbc;
    }

    .grid li.now {
        border: 2px solid rgb(255, 55, 0);
    }
</style>

<script>
    const years = 70;

    const grid = document.querySelector('.grid');

    for (let i = 0; i < years; i++) {
        let li = document.createElement('li');
        if (i < 29) {
            li.classList.add('past');
        }
        if (i == 29) {
            li.classList.add('now');
        }
        grid.appendChild(li);
    }



</script>