

<div class="container"></div>

<style>
  :root {
    --point-size: 0.2rem;
    --point-gap: 0.2rem;
    --columns: 10;
  }

  .container {
    margin: 0 auto;
  }

  .grid {
    list-style-type: none;
    display: grid;
    grid-gap: var(--point-gap);
    grid-auto-flow: row;
    grid-auto-rows: var(--point-size);
    grid-template-columns: repeat(var(--columns), var(--point-size));
    margin-bottom: 1rem;
  }

  .grid li {
    background-color: #bcbcbc;
    margin: 0;
    border-radius: 50%;
  }

  .grid li.future {
    background-color: #fff;
  }

  .grid li.now {
    border: 2px solid rgb(255, 55, 0);
  }
</style>

<script>

  const getSuffix = (num) => {
    const suffixes = { '1': 'st', '2': 'nd', '3': 'rd' };
    const lastDigit = num.toString().slice(-1);
    const lastTwoDigits = num % 100;

    // Handle special cases for 11, 12, and 13
    if (lastTwoDigits >= 11 && lastTwoDigits <= 13) {
      return "th";
    }

    const suffix = suffixes[lastDigit] || 'th';
    return suffix;
  };

  const columns = 100;
  const grids = 13;

 
  const container = document.querySelector('.container');

  for (let g = 1; g <= grids; g++) {
    const grid = document.createElement('ul');
    grid.classList.add('grid');
    for (let i = 0; i < columns; i++) {
      let li = document.createElement('li');
      if (g === 13) {
        if (i === 2) {
          li.classList.add('now');
        } else if (i > 2) {
          li.classList.add('future');
        }
       
      }
      grid.appendChild(li);

    }

    container.appendChild(grid);

  }


</script>