<nav class="navbar">

  <a href="{{ site.baseurl }}/" title="Home" class="site-name">Δ</a>
  {% include search.html %}
  <!-- <a title="Toggle theme" id="themeToggle" tabindex="0" onclick="switchTheme()" ></a> -->

</nav>



<style>
  .navbar {
    background: inherit;
    color: inherit;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  a.site-name {
    color: inherit;
    font-size: 2rem;
    margin-right: auto;
  }

  .nav-links {
    display: flex;
    margin-right: 1rem;
  }

  .nav-links a {
    color: inherit;
    margin: 0 0.5rem;
    text-decoration: none;
  }

  .nav-links a:hover {
    text-decoration: underline;
  }

  .search {
    margin-left: auto;
    margin-right: 0;
  }

  #themeToggle {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1.2rem;
    margin-right: 0;
  }
  
  </style>