


<nav class="navbar">
    <div class="navbar-brand">
      <!-- <a href="{{ site.baseurl }}/" class="site-avatar image"><img src="{{ site.avatar }}" /></a> -->
      <a href="{{ site.baseurl }}/" class="site-name">{{ site.name }}</a>

      <a href="" accesskey="r" onclick="get_random_post();" style="font-size:2rem; float:right; margin-left:3.236rem;">🎲</a>
      <a href="" id="theme-toggle" onclick="switchTheme()" style="font-size:2rem; float:right; margin-left: 2rem;">🌙</a>
    </div>
</nav>

