
    
<article>


{% assign all_tags = site.documents | map: "tags"  | compact | uniq  %}

<!-- total word count of all documents and skip errors -->
{% assign total_words = 0 %}
{% for doc in site.documents %}
    {% assign words = doc.content | number_of_words | times: 1.0  %}
    {% assign total_words = total_words | plus: words %}
{% endfor %}

<p>A digital personal wiki of <a href="/all-notes">{{site.documents.size}} notes</a>
    with {{site.static_files.size}} images, 
    {{ total_words }} words, 
    {{site.data.link_count}} backlinks, 
    <a href="/all-tags">{{all_tags.size}} tags</a>,
    with <a href="/2D-Graph">2D</a> and <a href="/3D-Graph">3D</a> link graphs
</p> 

<h2>Selected notes</h2>

{% include tagpage.html tag='top' %}

<h2>Main tags</h2>

{% assign tag_pages = site.documents | where: "layout", "tag" | sort: "title" %}

<ul style="margin-left:1rem; list-style:circle">
{% for p in tag_pages %}
    {% if p.tags contains "root" %}
        <li>
            <a href="{{p.url}}">{{p.title}}</a>
        </li>
    {% endif %}
{% endfor %}
</ul> 

</article>