<article>
  {% assign all_tags = site.documents | map: "tags" | compact | uniq %}

  <!-- total word count as integer of all documents and skip errors
 -->
  {% assign total_words = 0 %} {% for doc in site.documents %} {% assign words =
  doc.content | number_of_words | times: 1.0 %} {% assign total_words =
  total_words | plus: words %} {% endfor %} {% assign total_words = total_words
  | round %}

  <!-- total read time as hours and mins byu dividing word count woth 180 words per minute -->
  {% assign total_read_time = total_words | divided_by:180 | round %} {% assign
  total_read_time_hours = total_read_time | divided_by:60 | round %} {% assign
  total_read_time_mins = total_read_time | modulo:60 | round %}

  <h1>Project Delta</h1>
  <p>A digital personal wiki, a zettelkasten, a place to share and remember</p>

  <ul style="margin-left: 1rem; list-style: circle">
    <li><a href="/all-notes">{{site.documents.size}} pages</a></li>
    <li id="total_words">{{ total_words }} words</li>
    <li>
        {{ total_read_time_hours }} hours and {{total_read_time_mins}} minutes average reading time
    </li>
    <li>{{site.static_files.size}} images</li>
    <li><a href="/all-tags">{{all_tags.size}} tags</a></li>
    <li>{{site.data.link_count}} backlinks</li>
    <li>
      <a href="/2D-Graph">2D</a> and <a href="/3D-Graph">3D</a> link graphs
    </li>
  </ul>

  <h2>Selected notes</h2>

  {% include tagpage.html tag='top' %}

  <h2>Main tags</h2>

  {% assign tag_pages = site.documents | where: "layout", "tag" | sort: "title"
  %}

  <ul style="margin-left: 1rem; list-style: circle">
    {% for p in tag_pages %} {% if p.tags contains "root" %}
    <li>
      <a href="{{p.url}}">{{p.title}}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</article>


<script>

    var total_words = document.getElementById("total_words").innerHTML;
    // print total_words  with spaces between thousands
    document.getElementById("total_words").innerHTML = total_words.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");

</script>