<article>
  {% assign all_tags = site.documents | map: "tags" | compact | uniq %}

  <!-- total word count as integer of all documents and skip errors
 -->
  {% assign total_words = 0 %} {% for doc in site.documents %} {% assign words =
  doc.content | number_of_words | times: 1.0 %} {% assign total_words =
  total_words | plus: words %} {% endfor %} {% assign total_words = total_words
  | round %}

  {% assign total_read_time = total_words | divided_by:180 | round %} 
  {% assign total_read_time_hours = total_read_time | divided_by:60 | plus: 1 | round %}
  {% assign total_read_time_mins = total_read_time | modulo:60 | round %}
  
  <h1>Project Delta</h1>
  <p>A place to share and remember</p>

  <ul style="margin-left: 1rem; list-style: circle ">
    <li id="stats">{{site.documents.size}} pages, {{ total_words }} words, {{site.static_files.size}} images</li>
    <li>
        {{ total_read_time_hours }} hours to read on average
    </li>
  </ul>

  <h2>Most read</h2>

  {% include tagpage.html tag='top' %}

  <h2>Explore</h2>
  <div id="tagtree"></div>

  <script src="/assets/js/tagtree.js"></script>
  
</article>

<script>

    var stats = document.getElementById("stats").innerHTML;
    // print stats  with spaces between thousands
    document.getElementById("stats").innerHTML = stats.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");

</script>