

<a
style="font-size:1.8rem;"
id="ideaMachine" 
title="Idea Machine" 
tabindex="0"
onclick="setNextIdea();">🎰
</a>

<p id="random_idea" class="idea" onclick="setNextIdea();"></p>

<script src="/assets/js/idea.js"></script>

<style>
.idea{
    white-space: pre-line; 
    min-height:4rem
}
</style>

<script>
// on document load
document.addEventListener('DOMContentLoaded', async () => {
  const machine = document.getElementById("ideaMachine");

  machine.addEventListener('keydown', function (e) {
    if (e.key === 'Enter') {
      setNextIdea();
    }
  });

  setNextIdea()

});

</script>

