

<a style="font-size:1.5rem;" id="ideaMachine" title="Idea Machine" tabindex="0" onclick="setNextIdea();">🎰
</a>

<p id="random_idea" class="idea" onclick="setNextIdea();"></p>


<style>
  .idea {
    margin-top: 0;
    white-space: pre-line;
    min-height: 4.4rem;
    font-family: "Atkinson Hyperlegible Mono", "Inconsolata", monospace;
  }
</style>


<script src="/assets/js/idea.js"></script>

<script>

  const setNextIdea = async () => {
    let machine = document.getElementById("ideaMachine");
    animate(machine, "shakey");
    document.getElementById("random_idea").innerHTML = await getNextIdea();
  }

  document.addEventListener('DOMContentLoaded', async () => {
    let machine = document.getElementById("ideaMachine");

    machine.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
        setNextIdea();
      }
    });

    setNextIdea()
  });

</script>
