{% assign total_words = 0 %} 
{% for doc in site.documents %} 
    {% if doc.content %}
        {% assign words = doc.content | number_of_words | times: 1.0 %} 
        {% assign total_words = total_words | plus: words %} 
    {% endif %}
{% endfor %} 
{% assign total_words = total_words | round %}
  
    {% assign total_read_time = total_words | divided_by:180 | round %} 
    {% assign total_read_time_hours = total_read_time | divided_by:60 | plus: 1 | round %}
    {% assign total_read_time_mins = total_read_time | modulo:60 | round %}

<ul>
    <li>
        {{site.documents.size}} pages 
    </li>

    <li>
        {{site.static_files.size}} images
    </li>
    
    <li>
        {{total_words}} words
    </li>
    
    <li>
        {{total_read_time_hours}} hours to read
    </li>
</ul>
