<script src="/assets/js/datetime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<p id="date"></p>

<div>
  <h2 id="year-ratio"></h2>
  <progress id="year-progress" max="365" value=""></progress>
  <p id="year-percent"></p>
  <ul class="days"></ul>
</div>

<hr>

<div>
  <h2 id="days-seen"></h2>
  <ul class="years"></ul>
</div>

<style>
  :root {
    --point-size: 1rem;
    --point-gap: 0.24rem;
  }

  .years,
  .days {
    margin-top: 1rem;
    list-style-type: none;
    display: grid;
    grid-gap: var(--point-gap);
    grid-auto-flow: row;
    grid-auto-rows: var(--point-size);
  }

  .years {
    grid-template-columns: repeat(10, var(--point-size));
    grid-area: years;
  }

  .days {
    grid-template-columns: repeat(31, var(--point-size));
    grid-area: days;
  }

  li {
    margin: 0;
    border-radius: 50%;
  }

  .years li,
  .days li {
    background-color: #e9e6dc;
  }

  li.dummy {
    background-color: inherit;
  }

  li.past {
    background-color: #f6d958;
  }

  li.now {
    background-color: #f6d958;
    border: 3px solid orange;
  }
</style>

<script>
  function add_years(age) {
    const life = Array(64).fill(0);

    const years = document.querySelector(".years");
    for (const [key, val] of life.entries()) {
      if (key + 1 == age) {
        years.insertAdjacentHTML("beforeend", `<li class="now"></li>`);
      } else if (key < age) {
        years.insertAdjacentHTML("beforeend", `<li class="past"></li>`);
      }
    }
  }

  function add_days(this_day) {
    // create an array by using moment.js to get number of days in each month of this year
    const days_in_months = Array.from({ length: 12 }, (v, i) =>
      moment().month(i).daysInMonth()
    );

    total = 0;
    const day_graph = document.querySelector(".days");

    for (let number_of_days of days_in_months) {
      let dummy_days = 31 - number_of_days;
      for (let day = 1; day <= number_of_days; day++) {
        total += 1;
        if (total == this_day) {
          day_graph.insertAdjacentHTML("beforeend", `<li class="now"></li>`);
        } else if (total < this_day) {
          day_graph.insertAdjacentHTML("beforeend", `<li class="past"></li>`);
        } else {
          day_graph.insertAdjacentHTML("beforeend", `<li></li>`);
        }
      }
      // insert dummy days to fill the grid
      for (let i = 0; i < dummy_days; i++) {
        day_graph.insertAdjacentHTML("beforeend", `<li class="dummy"></li>`);
      }
    }
  }

  const bday = moment("1995-11-15");
  const this_year = moment().year();
  const this_day = moment().dayOfYear();

  const age = moment().diff(bday, "years") + 1;
  // add_years(age);
  add_days(this_day);

  const today = moment().format("dddd, MMMM Do YYYY");
  document.querySelector("#date").innerHTML = `${today}`;

  // days_seen = moment().diff(bday, "days");
  // // print days seen with spaces between thousands
  // days_seen = days_seen.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
  // document.querySelector("#days-seen").innerHTML = `Day ${days_seen} of my life`;

  const percent = Math.round((this_day / 365) * 100);
  document.querySelector("#year-percent").innerHTML = `%${percent}`;
  document.querySelector(
    "#year-ratio"
  ).innerHTML = `Day ${this_day} of ${this_year}`;
  document.querySelector("#year-progress").setAttribute("value", this_day);
</script>
