<script src="/assets/js/datetime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<div>

  <progress id="life-progress" max="64" value=""></progress>
  <ul class="years"></ul>
</div>

<div>

  <progress id="year-progress" max="365" value=""></progress>
  <ul class="days"></ul>


</div>


<style>
  :root {
    --point-size: 1rem;
    --point-gap: 0.24rem;
  }


  .years, .days {
    margin-top: 1rem;
    list-style-type: none;
    display: inline-grid;
    grid-gap: var(--point-gap);
    grid-auto-flow: row;
    grid-auto-rows: var(--point-size);
  }

  .years {
    grid-template-columns: repeat(10, var(--point-size));
    grid-area: years;
  }

  .days {
    grid-template-columns: repeat(30, var(--point-size));
    grid-area: days;
  }

  li {
    margin: 0;
    border-radius: 50%;
  }

  .years li,
  .days li {
    background-color: #e9e6dc;
  }

  li.pre {
    background-color: inherit;
  }

  li.past {
    background-color: #f6d958;
  }

  li.now {
    background-color: #f6d958;
    border: 3px solid orange;
  }
</style>

<script>
  function add_years(age) {
    const life = Array(64).fill(0);

    const years = document.querySelector(".years");
    for (const [key, val] of life.entries()) {
      if (key + 1 == age) {
        years.insertAdjacentHTML("beforeend", `<li class="now"></li>`);
      } else if (key < age) {
        years.insertAdjacentHTML("beforeend", `<li class="past"></li>`);
      } else {
        years.insertAdjacentHTML("beforeend", `<li></li>`);
      }
    }
  }


  function add_days() {

    const days = document.querySelector('.days');
    for (let day = 1; day <= 365; day++) {
      if (day == this_day) {
        days.insertAdjacentHTML("beforeend", `<li class="now"></li>`);
      } else if (day < this_day) {
        days.insertAdjacentHTML("beforeend", `<li class="past"></li>`);
      } else {
        days.insertAdjacentHTML("beforeend", `<li></li>`);
      }
    }
  }

  const this_year = moment().year();
  const this_day = moment().dayOfYear();

  const age = this_year - 1995;
  add_years(age);
  add_days();

  document.querySelector('#life-progress').setAttribute("value", age);
  document.querySelector('#year-progress').setAttribute("value", this_day);


</script>
