<script src="/assets/js/datetime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


<p id="clock"></p>

<p id="year-ratio"></p>
<p id="weekNumber"></p>
<p style="margin:0">
  <span>
    <progress id="year-progress" max="365" value=""></progress>
  </span>
  <span id="year-percent"></span>
</p>


<style>
  progress::-webkit-progress-value {
    background-color: #ffc800;
  }
  
  progress::-moz-progress-bar {
    background-color: #ffc800;
  }
  
  progress::-ms-fill {
    background-color: #ffc800;
  }
</style>

<script>

  const this_day = moment().dayOfYear();
  const percent = Math.round((this_day / 365) * 100);
  const weekNumber = moment().isoWeek();
  const year = moment().year();

  document.querySelector(
    "#year-ratio"
  ).innerHTML = `Day ${this_day} of ${year}`;

  document.querySelector("#weekNumber").innerHTML = `Week ${weekNumber}`;


  document.querySelector("#year-percent").innerHTML = `%${percent}`;

  document.querySelector("#year-progress").setAttribute("value", this_day);


  function updateClock() {
    const now = new Date();
    const hours = now.getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const seconds = now.getSeconds().toString().padStart(2, '0');
    const timeString = `${hours}:${minutes}:${seconds}`;
    
    document.getElementById('clock').textContent = timeString;
}

  setInterval(updateClock, 1000);
  updateClock();


</script>
