<script src="/assets/js/datetime.js"></script>
<script src="/assets/js/moment.min.js"></script>

<p id="clock"></p>

<p id="year-ratio"></p>

<p id="weekNumber"></p>

<ul class="days"></ul>

<p style="margin-top:0.5rem">
  <span>
    <progress id="year-progress" max="365" value=""></progress>
  </span>
  <span id="year-percent"></span>
</p>


<style>

  :root {
      --point-size: 0.45rem;
      --point-gap: 0.1rem;
  }

  .days {
    list-style-type: none;
    display: grid;
    grid-gap: var(--point-gap);
    grid-auto-flow: row;
    grid-auto-rows: var(--point-size);
  }

  .days {
    grid-template-columns: repeat(31, var(--point-size));
    grid-area: days;
  }

  .days li {
    background-color: #e9e6dc;
    margin: 0;
    border-radius: 50%;
  }

  .days li.dummy {
    background-color: inherit;
  }

  .days li.past {
    background-color: #f6d958;
  }

  .days li.now {
    border: 3px solid orange;
  }

  progress::-webkit-progress-value {
    background-color: #ffc800;
  }
  
  progress::-moz-progress-bar {
    background-color: #ffc800;
  }
  
  progress::-ms-fill {
    background-color: #ffc800;
  }
</style>

<script>

  const this_day = moment().dayOfYear();
  const percent = Math.round((this_day / 365) * 100);
  const weekNumber = moment().isoWeek();
  const year = moment().year();

  document.querySelector(
    "#year-ratio"
  ).innerHTML = `Day ${this_day} of ${year}`;

  document.querySelector("#weekNumber").innerHTML = `Week ${weekNumber}`;


  document.querySelector("#year-percent").innerHTML = `%${percent}`;

  document.querySelector("#year-progress").setAttribute("value", this_day);


  function updateClock() {
    const now = new Date();
    const hours = now.getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const seconds = now.getSeconds().toString().padStart(2, '0');
    const timeString = `${hours}:${minutes}:${seconds}`;
    
    document.getElementById('clock').textContent = timeString;
}

  setInterval(updateClock, 1000);
  updateClock();

  function add_days(this_day) {
    // create an array by using moment.js to get number of days in each month of this year
    const days_in_months = Array.from({ length: 12 }, (v, i) =>
      moment().month(i).daysInMonth()
    );

    total = 0;
    const day_graph = document.querySelector(".days");

    for (let number_of_days of days_in_months) {
      let dummy_days = 31 - number_of_days;
      for (let day = 1; day <= number_of_days; day++) {
        total += 1;
        if (total == this_day) {
          day_graph.insertAdjacentHTML("beforeend", `<li class="now"></li>`);
        } else if (total < this_day) {
          day_graph.insertAdjacentHTML("beforeend", `<li class="past"></li>`);
        } else {
          day_graph.insertAdjacentHTML("beforeend", `<li></li>`);
        }
      }
      // insert dummy days to fill the grid
      for (let i = 0; i < dummy_days; i++) {
        day_graph.insertAdjacentHTML("beforeend", `<li class="dummy"></li>`);
      }
    }
  }

  add_days(this_day);


</script>
