
    <ul>
      {% assign tree = include.tree | default: site.data.tree[0].items %}
      {% for item in tree %}
        <li>
          {% if item.type == 'dir' %}
          <details>
            <summary>
              {{ item.title }}
            </summary>
            <ul>
              {% include tree.html tree=item.items %}
            </ul>
          </details>
          {% else %}
          <a href="/{{ item.name }}">{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
