<div id="sentence" class="idea"></div>
<div id="typingAccuracy">accuracy: 0</div>
<div id="wpm">wpm: 0</div>
<div id="medianWpm">median wpm: 0</div>

<style>
    .idea {
        min-height: 4rem;
        font-size: 1.6rem;
        margin: 0 auto;
        margin-top: 3rem;
        font-family: 'Inconsolata', monospace;
    }

    #typingAccuracy {
        margin-top: 3rem;
    }

    .caret {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        
    }

    .correct {
        color: #909090;
    }

    .incorrect {
        background-color:  rgba(241, 2, 2, 0.769);
        white-space: pre-wrap;
    }

    .highlight {
        background-color: rgba(255, 238, 0, 0.313);
    }
</style>


<script src="/assets/js/idea.js"></script>

<script src="/assets/js/typing.js"></script>

