

{% assign root_tags = "arts, stem" | split: ", " %}

{% assign tag_pages = site.documents | where: "layout", "tag" | sort: "title" %}

<div style="padding-left:1rem">
{% for root_tag in root_tags %}
    <a href="/{{root_tag}}">{{root_tag | upcase}}</a>
    <ul>
    {% for p in tag_pages %}

        {% if p.tags contains root_tag %}

        {% if p.tags[0] != root_tag  %}

            <li>
                <a href="{{p.url}}">{{p.title}}</a>
            </li>
        
            {% endif %}

        {% endif %}
 
    {% endfor %}
    </ul>
{% endfor %}

</div>

<!-- <ul>
{% for p in site.documents %}
    {% if p.tags contains "root" %}

        <li>
            <a href="{{p.url}}">{{p.title | upcase}}</a>
        </li>
    {% endif %}

{% endfor %}
</ul> -->

