<script src="/assets/js/datetime.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/color.js"></script>


<div class="columns">

  <div class="column is-4">
    <p id="clock"></p>

    <p id="date"></p>

    <p id="year-ratio"></p>

    <p id="weekNumber"></p>

    <p id="year-percent"></p>

  </div>

  <div class="column is-8">

    <ul class="days"></ul>

  </div>

</div>






<style>
  :root {
    --point-size: 0.25rem;
    --point-gap: 0.25rem;
    --row-gap: 0.36rem;
  }

  .days {
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--point-gap);
    row-gap: var(--row-gap);
    grid-auto-rows: var(--point-size);
    grid-template-columns: repeat(31, var(--point-size));
    grid-area: days;
  }


  .days li {
    background-color: #fff;
    margin: 0;
    border-radius: 50%;
  }

  .days li.filler {
    background-color: inherit;
  }

  .days li.past {
    opacity: 0.5;
  }

  .days li.weekend {
    background-color: #ffc800;
  }

  .days li.now {
    background-color: rgb(255, 55, 0);
  }
</style>

<script>

  const this_day = moment().dayOfYear();
  const percent = Math.round((this_day / 365) * 100);
  const weekNumber = moment().isoWeek();
  const year = moment().year();
  const date = moment().format('dddd, MMMM DD');

  document.querySelector(
    "#year-ratio"
  ).innerHTML = `Day ${this_day}`;

  document.querySelector("#weekNumber").innerHTML = `Week ${weekNumber}`;

  document.querySelector("#date").innerHTML = `${date}`;


  document.querySelector("#year-percent").innerHTML = `%${percent}`;


  function updateClock() {
    const now = new Date();
    const hours = now.getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const seconds = now.getSeconds().toString().padStart(2, '0');
    const timeString = `${hours}:${minutes}:${seconds}`;

    document.getElementById('clock').textContent = timeString;
  }

  setInterval(updateClock, 1000);
  updateClock();

  function add_days(this_day) {
    // create an array by using moment.js to get number of days in each month of this year
    const days_in_months = Array.from({ length: 12 }, (v, i) =>
      moment().month(i).daysInMonth()

    );
    // indexes of weekend days in each month
    const weekend_days = days_in_months.map((days, index) => {
      let weekend = [];
      for (let day = 1; day <= days; day++) {
        let date = moment().month(index).date(day);
        if (date.day() == 0 || date.day() == 6) {
          weekend.push(day);
        }
      }
      return weekend;
    });

    dayNumber = 0;
    const days = document.querySelector(".days");

    days_in_months.forEach((number_of_days, month_index) => {
      for (let i = 1; i <= number_of_days; i++) {
        dayNumber += 1;
        let day = document.createElement("li");
        if (weekend_days[month_index].includes(i)) {
          day.classList.add("weekend");
        }
        if (dayNumber == this_day) {
          day.classList.add("now");
        } else if (dayNumber < this_day) {
          day.classList.add("past");
        }
        days.insertAdjacentElement("beforeend", day);
      }

      let dummy_days = 31 - number_of_days;


      for (let i = 1; i <= dummy_days; i++) {
        let empty = document.createElement("li");
        empty.classList.add("filler");
        days.insertAdjacentElement("beforeend", empty);
      }


    });


  }

  add_days(this_day);


</script>