
//
// VARIABLES
//

// Colors
$primary:#2a78dd;
$lightBlue: #56CCF2;
$accent : #48c774;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #555;
$lightGray: #eee;
$white: #fbfbfb;


$bg: #fffefc;
// $top: #1b78cf;

$light-text: #f0f1f2;
$dark-bg: #2a2e32;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
