a.site-name {
    color: inherit;
    font-size: 2rem;
    margin-right: 1rem;

}

#themeToggle {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.navbutton {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-left: 1.2rem;
}

.navbar {
    background: inherit;
    color: inherit;
    width: fit-content;
    margin-bottom: 1rem;
}

.top {
    height: 4px;
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2259a7, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2259a7, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}