--- 
--- 
// Grays
$dummy: #f0f1f2;
$lightGray : #eaecf0;
$darkGray: #202122;


// colors
$darkBlue: #2259a7;
$lightBlue: #3298dc;
$lighterBlue: #8ec5ff;
$lightViolet: #bec0ff;
$darkViolet: #6b4ba1;
$accent : #FF530D;
$highlight: #ffc800;
$sunrise: #FAEAD4;

// text and bg 
$darkBg: #22272e;
$lightText: $lightGray;

$lightBg: #edeaea;
$darkText: $darkGray;

// Font stacks
$sansSerif: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$mono: "Atkinson Hyperlegible Mono", "Inconsolata", monospace;

html {
  line-height: 1.8;
  scroll-behavior: smooth;
}

p {
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}

pre {
  padding: 0.5rem;
}

h1 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: bold;
  margin-top: 1.2rem;
}

.mono {
  font-family: $mono;
}

a.site-name {
  font-family: $serif;
}

a {
  color: $lighterBlue
}

a:hover {
  color: $highlight;
  text-decoration: underline;
}

body {
  font-family: $mono;
  background-color: $darkBg;
  background-image: url('/assets/static/solar/2k_stars_milky_way3.jpg');
  background-attachment: fixed;
  background-position: center;
  color: $lightText;
  min-height: 100vh;
  word-break: break-word;
}

strong {
  color: $lightText;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

li{
  line-height: 1.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-left: 1rem;
}

::selection {
  background: $lightBlue;
}

article {
  padding: 1rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  min-width: 40%;
  max-width: 72ch;
}

.centered {
  margin: 0 auto;
}

img {
  border-radius: .25rem;
  box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .img-full {
    max-width: 100%;
    display: block;
    height: auto;
  }
}


strong {
  font-weight: bold;
}

blockquote {
  border-left: 2px solid $darkBlue;
  padding-left: 1rem;
  margin: 1rem;
}

pre {
  background: inherit;
  color: inherit;
  font-size: large !important;
}

.toplink {
  margin-right: 0.5rem;
}

html[data-theme='light'] {

  body {
    background-image: url('/assets/static/paper.jpg');
    background-attachment: unset;
    background-position: unset;
    color: $darkText;
  }

  ::selection {
    background: $highlight;
  }

  strong {
    color: $darkText;
  }

  .top {
    background: none;
  }

  a {
    color: $darkBlue
  }

  a:visited {
    color: $darkViolet;
  }

  a:hover {
    color: $accent;
  }

  a.site-name {
    color: inherit
  }

  hr {
    background-color: transparent;
  }
}

