---
---
// Grays
$gray: #555;
$darkGray: #333;
$darkerGray: #222;
$black: #000;

// colors
$darkBlue: #2398ff;
$lightBlue: #62b5ff;
$accent : #FF530D;
$highlight : #ffc800;

// Font stacks
$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

// text and bg 
$darkBg: #22272e;
$lightText: #f0f1f2;

$lightBg: #f8f1e3;
$darkText: $gray;

html {
  font-size: larger;
  line-height: 1.6;
}

a.site-name {
  font-family: $serif;
}

footer.about {
  font-family: $serif;
}

// basics 
body {
  font-family: $sansSerif;
  background-image: url('/static/2k_stars_milky_way.jpg');
  background-size: cover;
  /* Ensures the image covers the entire background */
  background-position: center;
  /* Centers the image */
  color: $lightText;
  min-height: 100vh;
  word-break: break-word;
}

strong {
  color: $lightText;
}

hr {
  margin: 1rem 0 !important;
}


ul {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

li ul {
  margin-left: 1rem;
}

::selection {
  background: $darkBlue;
}

article {
  padding: 1rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  min-width: 50vw;
  max-width: 64ch;
}


a {
  color: $lightBlue;
}

a:visited {
  color: $darkBlue;
}

a:hover {
  color: $accent;
}

summary:hover {
  color: $accent;
}


.img-full {
  display: block;
  margin: auto;
  max-height: 94vh;
}

.img-alt {
  font-family: $serif;
  text-align: center !important;
}

.metatext,
.img-alt {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}


.input {
  background-color: $lightText;
}


@media only screen and (max-width: 600px) {
  article {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .img-full {
    max-width: 100%;
    display: block;
    height: auto;
  }
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

pre {
  padding: 0.5rem;
}

h1 {
  font-family: $serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: bold;
}

hr {
  background-color: inherit !important;
}


blockquote {
  border-left: 2px solid $lightBlue;
  padding-left: 1rem;
  margin: 1rem;
}

pre {
  background: inherit;
  color: inherit;
  font-size: 1em !important;
}

ol {
  margin-left: 1rem;
}

.taglist {
  font-size: 0.8rem;
}

.toplink {
  margin-right: 0.5rem;
}


details {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}




html[data-theme='light'] {

  body {
    background: $lightBg;
    color: $darkText;
  }

  ::selection {
    background: $highlight;
  }

  strong {
    color: $darkText;
  }

  .top {
    background: #FC9601;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FC9601, #FFCC33);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FC9601, #FFCC33);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  a {
    color: $darkBlue
  }

  a:visited {
    color: $lightBlue;
  }

  a:hover {
    color: $accent;
  }

  a.site-name {
    color: inherit
  }
}



@keyframes shakex {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }
}

@keyframes shakey {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-2px);
  }
}

.shakex {
  animation: shakex 0.2s;
}

.shakey {
  animation: shakey 0.2s;
}