---

---

$accent : #48c774;

$darkBlue: #155da0;
$lightBlue: #4098eb;
$turquoise: #56CCF2;

// Grays
$gray: #555;
$darkGray: #333;
$darkerGray: #222;
$black: #000;

// Font stacks
$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

$dark-bg: #2a2e32;
$light-text: #f0f1f2;

$light-bg: #fffefc;
$dark-text: $gray;


html{

  font: $sansSerif;
  font-size: larger;
  line-height: 1.75;

}


body{
  background: $dark-bg;
  color: $light-text;
  min-height: 100vh;
}

.top{
  height: 8px;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  margin: 1rem;
  background: inherit;
  color: inherit;
}

article{
  max-width: 70ch;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
}


a{
  color: $turquoise; 
}
a:visited{
  color: $lightBlue;
}
a:hover{
  color: $accent;
}

@media only screen and (max-width: 900px) {
  .img-full {
    max-width: 100%;
    display: block; 
    height: auto;
  }
}

p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-family: $serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: $accent
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

strong{
  font-weight: bold;
}

li {
  margin: 1rem;
}



a.site-name {
  font-family: $serif;
  color: inherit;
  font-weight: 500;
  font-size: 2rem;
  padding-left: 1rem;
}


footer {
  text-align: center;
  background: inherit !important;
  font-family: $serif;
}


#results-container{
  margin-top: 1rem;
  padding-left: 1rem;
  li{
    margin-bottom: 1rem;
    a{
      color: $accent;
    }
  }
}

hr{
  background-color: inherit !important;
}


blockquote {
  border-left: 2px solid $lightBlue;
  padding-left: 1rem;
  margin:1rem;
}

pre{
  padding: 1rem !important;
  background: inherit;
  color: inherit;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


#random-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
}

#random-img-alt{
  font-family: $serif;
  text-align: center !important;
}



html[data-theme='light'] {

  body{
    background: $light-bg;
    color: $dark-text;
  }

  .top{
    height: 8px;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  a{
    color: $darkBlue; 
  }
  a:visited{
    color: $lightBlue;
  }

}
