---

---
// variables

// Grays
$gray: #555;
$darkGray: #333;
$darkerGray: #222;
$black: #000;

// colors
$darkBlue: #2398ff;
$lightBlue: #62b5ff;
$accent : #FF530D;
$highlight : #ffc800;

// Font stacks
$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

// text and bg 
$dark-bg: #22272e;
$light-text: #f0f1f2;

$light-bg: #f8f1e3; 
$dark-text: $gray;

html{
  font-size: larger;
  line-height:1.6;
}
// basics 
body{
  font-family: $sansSerif;
  background: $dark-bg;
  color: $light-text;
  min-height: 100vh;
  word-break: break-word;
}

strong{
  color: $light-text;
}

hr{
  margin: 1rem 0!important;
}


ul {
  margin-top:0.5rem;
}

li{
  margin-top:0.6rem;
  margin-bottom:0.6rem;
}

li ul {
  margin-left: 1rem;
}

::selection {
  background: $accent;
}

article{
  padding: 1rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  min-width: 50vw;
  max-width: 64ch;
}


a{
  color: $lightBlue; 
}
a:visited{
  color: $darkBlue;
}
a:hover{
  color: $accent;
}

summary:hover{
  color: $accent;
}


.img-full {
  display: block;
  margin: auto;
  max-height: 94vh;
}

.img-alt{
  font-family: $serif;
  text-align: center !important;
}

.metatext, .img-alt{
  font-size:0.85rem;
  font-weight: 300;
  margin-bottom:0.5rem;
}

// nav 
.navbar{
  background: inherit;
  color: inherit;
  width: fit-content;
}

.top{
  height: 4px;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.search{
  padding: 0.8rem;
  padding-top: 0.5rem;
  max-width: 9rem;
}

.navbutton{
  font-size:1.4rem;  
  padding-top: 0.4rem;
  padding-left: 0.6rem;
}


.input{
  background-color: $light-text;
}

a.site-name {
  font-family: $serif;
  color: inherit;
  font-size: 2rem;
  margin-right:1rem;
  
}

#results-container {
  margin-top: 0.3rem;
  list-style: none;
  font-size: 1rem;
  max-width: 20ch;
  li{
    margin: 0 auto;
    margin-top: 0.3rem;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 600px) {
  article{
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  article{

  }
}

@media only screen and (max-width: 900px) {
  .img-full {
    max-width: 100%;
    display: block; 
    height: auto;
  }
}

p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

pre{
  padding: 0.5rem;
}
h1 {
  font-family: $serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom:0.5rem;
}

strong{
  font-weight: bold;
}


footer {
  background: inherit !important;
  font-family: $serif;
  padding-top: 2rem;
}


hr{
  background-color: inherit !important;
}


blockquote {
  border-left: 2px solid $lightBlue;
  padding-left: 1rem;
  margin:1rem;
}

pre{
  background: inherit;
  color: inherit;
  font-size: 1em !important;
}

ol{
  margin-left:1rem;
}

.force-graph-container{
  canvas {
    border: 2px solid;
  }
}

.taglist{
  font-size: 0.8rem;
}


html[data-theme='light'] {

  body{
    background: $light-bg;
    color: $dark-text;
  }

  ::selection {
    background: $highlight;
  }

  strong{
    color: $dark-text;
  }

  .top{
    background: #FC9601;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FC9601, #FFCC33);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FC9601, #FFCC33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  a{
    color: $darkBlue 
  }
  a:visited{
    color: $lightBlue;
  }
  a:hover{
    color: $accent;
  }
  a.site-name{
    color: inherit
  }
}

details{
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.toplink{
  margin-right: 0.5rem;
}
