---
layout: default
---

<article>

    <h1>{{ page.title | upcase }}</h1>
  
    <ul>        
        {% assign sorted = site.documents | sort: 'title' %}
        {% for note in sorted %}
            {% if note.categories contains page.category  %}
                {% if note.url != page.url %}
                    <li>
                        <a href="{{ note.url }}">{{ note.title }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    
          
  </article>

  
