---
layout: default
---

{% assign sorted_tags = site.tags | sort %}

{% assign sorted_cats = site.categories | sort %}

<img class="img-full" src="{{ page.category_image }}" />

    <div id="main" class="container">
        <div class="column is-11 is-offset-1">
            <div class="section">
                <div class="search column is-half">
                    <input type="text" class="input is-rounded is-medium" id="search-input" placeholder="Search..">
                    <ul style="list-style: none;" id="results-container"></ul>
                    </div>
            </div>
            <div class="section">

    {% assign category_name = page.category_name  %}

    <h1 id="{{ category_name | downcase }}">{{ category_name }}</h1>

    
    {% for tag in sorted_tags %}

        {% assign posts_with_tag = tag[1] | where: "category", category_name | sort  %}
        
        {% if posts_with_tag != empty %}
            
            <h3 class="tag is-warning is-medium">{{ tag[0] }}</h3>

            <ul>
                {% for p in posts_with_tag %}
                    <li class="catlink"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            </ul>

        {% endif %}
    
    {% endfor %}

    <a href="#" onclick="random();" class="button is-medium is-rounded is-warning">Random</a>

</div>
    </div>
</div>



{% include search.html %}
