---
layout: default
---

{% assign sorted_tags = site.tags | sort %}

{% assign sorted_cats = site.categories | sort %}

<img src="{{ page.category_image }}" />

<div class="posts">
    

        {% assign category_name = page.category_name  %}


        <h1 class="tag" id="{{ category_name | downcase }}">{{ category_name }}</h1>


        <h1 class="tag" id="explore">subcategories</h1>

        <ul>
            {% for category in sorted_cats %}
                {% capture category_name %}{{ category | first  }}{% endcapture %}
                {% assign parts = category_name | split: "/" % }
                {% if  parts | first == category_name and parts | first != category_name %}
                    <li style="padding-bottom: 0.4rem;">
                        <a href="{{ '/' | append:  category_name | downcase   }}">{{ category_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% for tag in sorted_tags %}

            {% assign zz = tag[1] | where: "category", category_name | sort  %}
            
            {% if zz != empty %}
                
                <h3>{{ tag[0] }}</h3>

                <ul>
                    {% for p in zz %}
                        <li><a href="{{ p.url }}" target="_blank">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}
        
        {% endfor %}


</div>

