---
layout: default
---

{% assign sorted_tags = site.tags | sort %}

{% assign sorted_cats = site.categories | sort %}

<img src="{{ page.category_image }}" />

<div class="posts">
    

        {% assign category_name = page.category_name  %}


        <h1 class="tag" id="{{ category_name | downcase }}">{{ category_name }}</h1>

        {% assign any_subcat = false  %}

        {% for cat in sorted_cats %}
            {% capture subcat %}{{ cat | first  }}{% endcapture %}
            {% assign parts = subcat | split: "/" %}
            {% assign parent = parts | first %}
            {% assign child = parts | last %}
            
            {% if parent == category_name and child != category_name %}
                {% assign any_subcat = true  %}
            {% endif %}
        {% endfor %}

        {% if any_subcat %}
        <h2 class="tag" id="explore">related categories</h2>
        {% endif %}

        <ul>
            {% for cat in sorted_cats %}
                {% capture subcat %}{{ cat | first  }}{% endcapture %}
                {% assign parts = subcat | split: "/" %}
                {% assign parent = parts | first %}
                {% assign child = parts | last %}
                
                {% if parent == category_name and child != category_name %}
                    <li style="padding-bottom: 0.4rem;">
                        <a href="{{ '/' | append:  subcat | downcase   }}">{{ subcat }}</a>
                    </li>
                {% endif %}

            {% endfor %}
        </ul>

        {% for tag in sorted_tags %}

            {% assign zz = tag[1] | where: "category", category_name | sort  %}
            
            {% if zz != empty %}
                
                <h3>{{ tag[0] }}</h3>

                <ul>
                    {% for p in zz %}
                        <li><a href="{{ p.url }}" target="_blank">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}
        
        {% endfor %}


</div>

