<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <div class="container section" >
    
          <nav class="navbar">
            <div class="navbar-brand">
              <a href="{{ site.baseurl }}/" class="site-avatar image"><img src="{{ site.avatar }}" /></a>
              <div class="site-info" style="margin-top:-5px">
                <a href="{{ site.baseurl }}/" class="site-name">{{ site.name }}</a>
                <p class="site-description">{{ site.description }}</p> 
              </div>



            </div>


            <div class="navbar-end">
              <a onclick="random();" style="font-size:3rem; float:right;  margin:1rem;">🎲</a>
              <a id="theme-toggle" onclick="modeSwitcher()" style="font-size:3rem; float:right; margin:1rem">🌙</a> 
    
            </div>

      
          </nav>

          

        <article style="margin-top: 6rem;">

          {{ content }}

        </article>


      </div>
      

    {% include random.html %}
    {% include theme.html %}

  </body>

</html>
