<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <div class="container" >

      <div class="section" >
  
        <div class="column is-11 is-offset-1">
  
  
          <nav class="navbar">
            <div class="navbar-brand">
              <a href="{{ site.baseurl }}/" class="site-avatar image"><img src="{{ site.avatar }}" /></a>
              <div class="site-info">
                <h1 class="site-name title">{{ site.name }}</h1></a>
                <p class="site-description subtitle">{{ site.description }}</p> 
              </div>
      
            </div>
        </nav>

        </div>
      </div>
    </div>

    <!-- 
<button class="button" onclick="document.body.classList.toggle('dark')">
  <span class="icon">
    <i class="fab fa-moon-o"></i>
  </span>
  <span>Dark/Light</span>
</button> 

    <button id="theme-toggle" onclick="modeSwitcher()"></button>

-->


<article>
  {{ content }}
</article>






    {% include random.html %}
    {% include theme.html %}

  </body>

</html>
