<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <div class="container section" >
    
          <nav class="navbar">
            <div class="navbar-brand">
              <a href="{{ site.baseurl }}/" class="site-avatar image"><img src="{{ site.avatar }}" /></a>
              <div class="site-info">
                <a href="{{ site.baseurl }}/" class="site-name">{{ site.name }}</a>
                <p class="site-description subtitle">{{ site.description }}</p> 
              </div>
            </div>


      
          </nav>


          <article style="margin-bottom: 4rem;">


          <a onclick="random();" style="font-size:2.5rem; float:right">🎲</a>
          <a id="theme-toggle" onclick="modeSwitcher()" style="font-size:2.5rem; float:right; margin-right:1.8rem;">🌙</a> 

          </article>
 

        <article>



          {{ content }}


          <a onclick="random();" style="font-size:2.5rem; float:right">🎲</a>

        </article>


      </div>
      






    {% include random.html %}
    {% include theme.html %}

  </body>

</html>
