---
layout: default
---

<img class="image" src="{{ page.img }}" alt="{{page.img-alt}}" />


<article class="section">
  <div id="main" class="container">
    <div class="column is-11 is-offset-1">
      
      <h1>{{ page.title }}</h1>

      <div style="margin-top:1rem" class="entry">
        {{ content }}
      </div>

      <br>

      <!-- <p style="font-weight:300">{{ page.date | date: "%B %e, %Y" }}</p> -->

      <a href="#" onclick="random();" class="button is-medium is-danger is-rounded is-light">Random</a>
  
    </div>
  </div>
</article>

